<a href="https://colab.research.google.com/github/taejungsu/test/blob/master/%5B%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EA%B8%B0%EC%B4%882%5D_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%9D%98_%EC%9D%B4%ED%95%B4_%ED%95%99%EC%83%9D%EC%9A%A9_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문

## 조건에 따라 분기하는 if 문

### 단일 조건에 따른 분기(if)

In [ ]:
x = 90
if x >= 90:
    print("Pass")

Pass

### 단일 조건 및 그 외 조건에 따른 분기(if ~ else)

In [ ]:
x = 95
if x >= 90:
    print("Pass")
else:
    print("Fail")

Pass

### 여러 조건에 따른 분기(if ~ elif ~ else)
### 실습1: x = 85로 설정하고, 90 이상이면 Very good, 80~89면 Good, 80 미만이면 Bad가 출력되도록 만들기

In [ ]:
x=85
if x>=90:
  print("Very good")
elif 80<=x<90:
  print("good")
else:
  print("Bad")

good

### 중첩 조건에 따른 분기

In [ ]:
x = 100
if x >= 90:
    if x==100 :
        print("Perfect")
    else:
        print("Very Good")
elif (x >= 80) and (x < 90):
    print("Good")
else:
    print("Bad")

Perfect

## 5.2 지정된 범위만큼 반복하는 for 문

### 반복문의 필요성

In [ ]:
a = 0 # 변수 a를 0으로 초기화
print(a) # 변수 a 출력

a = a + 1 # 변수 a에 1을 더한 후, 다시 a에 대입
print(a)  # 변수 a 출력

a = a + 1 # 같은 코드 반복
print(a)

a = a + 1 # 같은 코드 반복
print(a)

a = a + 1 # 같은 코드 반복
print(a)

a = a + 1 # 같은 코드 반복
print(a)

0
1
2
3
4
5

### for 문의 구조

### 반복 범위 지정

#### 리스트 이용

In [ ]:
for a in [0, 1, 2, 3, 4, 5]:
    print(a)

0
1
2
3
4
5

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']  # 리스트를 변수에 할당
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

#### range() 함수 이용

In [ ]:
print(range(0, 10, 1))

# 제대로 출력되지 않음.

range(0, 10)

In [ ]:
print(list(range(0, 10, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for a in range(0, 6, 1):
    print(a)

0
1
2
3
4
5

In [ ]:
for a in range(0, 6, 2):
    print(a)

0
2
4

In [ ]:
print(list(range(0, 10, 1)))
print(list(range(0, 10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(0, 20, 5)))    # Line 1
print(list(range(-10, 0, 2)))   # Line 2
print(list(range(3, -10, -3)))  # Line 3
print(list(range(0, -5, 1)))    # Line 4

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

### 실습2: 5부터 -5까지 1씩 감소하는 리스트 생성하기

In [ ]:
print(list(range(5, -6, -1)))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5]

### 중첩 for 문

In [ ]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

### 여러 개의 리스트 다루기

In [ ]:
names = ['James', 'Robert', 'Lisa', 'Mary'] 
scores = [95, 96, 97, 94]

In [ ]:
for k in range(len(names)):
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [ ]:
# zip() 함수 사용

for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

## 5.3 조건에 따라 반복하는 while 문

### while 문의 구조

In [ ]:
i = 0     # 초기화
sum = 0   # 초기화

print("i sum")
while (sum < 20):  # 조건 검사
    i = i + 1      # i를 1씩 증가
    sum = sum + i  # 이전의 sum과 현재 i를 더해서 sum을 갱신
    print(i, sum)  # i와 sum을 출력

i sum
1 1
2 3
3 6
4 10
5 15
6 21

### 무한 반복 while 문

## 5.4 반복문을 제어하는 break와 continue

### 반복문을 빠져나오는 break

In [ ]:
k=0
while True: 
    k = k + 1  # k는 1씩 증가
    
    if(k > 3): # k가 3보다 크면 
        break  # break로 while 문을 빠져나옴
        
    print(k)   # k 출력

1
2
3

### 실습3: for문에 range(10) 함수를 사용하여 if문과 break로 0~ 5를 출력하기

In [ ]:
for k in range(10):
    if(k >5):
        break
        
    print(k)

0
1
2
3
4
5

### 다음 반복을 실행하는 continue

In [ ]:
for k in range(5):
    if(k == 2):
        continue
        
    print(k)

# continue가 실행됨으로써 반복문의 처음으로 돌아가서 다음 반복을 진행하므로 2는 제외

0
1
3
4

In [ ]:
k = 0
while True:
    k = k + 1
    
    if(k == 2):
        print("continue next")
        continue
    if(k > 4):
        break
        
    print(k)

1
continue next
3
4

실습4: 앞의 코드를 응용하여 1~10까지 간단한 369 게임 구현 (3,6,9에서 짝!)

In [ ]:
k = 0
while True:
    k = k + 1
    
    if(k == 3) or k==6 or k==9:
      print("짝!")
      continue
    if(k > 10):
        break
        
    print(k)

1
2
짝!
4
5
짝!
7
8
짝!
10

## 5.5 간단하게 반복하는 한 줄 for 문

### 리스트 컴프리헨션의 기본 구조

In [ ]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    square.append(i**2)
    
print(square)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

### 조건문을 포함한 리스트 컴프리헨션

In [ ]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    if i >= 3:
        square.append(i**2)
    
print(square)

[9, 16, 25]

### 실습5: 앞의 코드를 응용하여 square 변수 안에 제곱을 넣고 if문을 사용하여 3 이상만 적용하기

In [ ]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]

### 데이터셋 불러오기 및 수식 적용 맛보기

In [2]:
import pandas as pd           # (1) pandas 모듈 호출

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'# (2) 데이터 URL을 변수 data_url에 넣기
df_data = pd.read_csv(data_url, sep='\s+',   #컬럼값
	header = None) # (3) csv 데이터 로드  #헤더는 컬럼명
df_data.columns = ['CRIM','ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO' ,'B', 'LSTAT', 'MEDV'] # (4) 데이터의 열 이름 지정
df_data.head()                 # (5) 데이터 출력

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [3]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep='\s+', header = None) 
df_data.columns = ['CRIM','ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO' ,'B', 'LSTAT', 'MEDV'] 
df_data.head()               # 이전 코드와 동일한 코드                            (pandas 모듈은 위에서 호출 완료)
import numpy as np           # (1) numpy 모듈 호출
df_data['weight_0'] = 1      # (2) weight 0 값 추가 = 상수값
df_data = df_data.drop("MEDV", axis=1) # (3) Y 값 제거 종속값을 구하기 위해
df_matrix = df_data.values                       # (4) 행렬(Matrix) 데이터로 변환하기
weight_vector = np.random.random_sample((14, 1))                              # (5) 가중치 w 생성
df_matrix.dot(weight_vector)[0:10] # (6) matrix셋에 데이터 내적 연산 실행 결과 출력

array([[418.80234298],
       [381.34357966],
       [365.09369742],
       [338.93262472],
       [346.83779715],
       [348.52501637],
       [434.44097694],
       [458.64880181],
       [464.61498839],
       [447.10788985]])

In [ ]:
# 판다스 데이터 프레임으로 변형해서 데이터 확인

import pandas as pd

data_df11 = pd.DataFrame(df_matrix)
data_df11.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,1.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,1.0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,1.0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,1.0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,1.0

In [ ]:
# 난수로 생성했던 가중치값 확인

weight_vector

array([[0.81884018],
       [0.78808419],
       [0.151472  ],
       [0.30762848],
       [0.3469392 ],
       [0.16144396],
       [0.54239407],
       [0.54378217],
       [0.75245501],
       [0.4128495 ],
       [0.60188162],
       [0.21929417],
       [0.51493142],
       [0.81573349]])